.footer-container-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  width: 100%;
  background-color: #050100;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: right;
}

.footer-container {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.col-1 {
  width: 30%;
}
