.footer-container-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  width: 100%;
  background-color: #050100;
  bottom: 0px;
  left: 0px;
  right: 0px;
  justify-content: right;
}

.footer-container {
  position: sticky;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #050100;
  width: 100%;
  padding-top: 0.3rem;
}

.col-1 {
  width: 30%;
}
