.header-container {
  display: flex;
  flex-direction: row;
  background-color: #050100;
  color: white;
  margin: 0 auto;
  width: 95%;
  min-height: 3.5rem;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

@media (max-width: 810px) {
  .header-container {
    flex-direction: column;
  }
}

.col-1 {
  width: 25%;
}

.col-2 {
  width: 50%;
}

.search-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 810px) {
  .search-container {
    margin-top: 0.4rem;
  }
}

.logo-container {
  display: flex;
}
@media (max-width: 810px) {
  .logo-container {
    margin-top: 0.4rem;
  }
}

.menu-button-container {
  display: flex;
  justify-content: center;
}
@media (max-width: 810px) {
  .menu-button-container {
    margin-top: 0.4rem;
  }
}

.col-container {
  display: flex;
  padding: 0.3rem;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: #050100;
}

.header-ruler {
  width: 100%;
}
