.card-container {
  width: fit-content;
  min-width: 600px;
  height: fit-content;
  border: 1px solid gray;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 3rem;
  background-color: #050100;
  text-align: center;
}

.pop-up-container {
  max-width: 200px;
  width: 10%;
  min-width: fit-content;
  border: 1px solid gray;
  background-color: #050100;
  position: fixed;
  padding: 0.5rem;
  text-align: center;
  left: 45%;
  right: 50%;
  top: 30%;
  bottom: 50%;
  height: fit-content;
}

@media (max-width: 810px) {
  .card-container {
    height: fit-content;
  }
}
