.card-container {
  width: auto;
  height: auto;
  max-width: 600px;
  min-height: 300px;
  min-width: 300px;
  width: 20%;
  border: 1px solid gray;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 3rem;
}

@media (max-width: 810px) {
  .card-container {
    height: fit-content;
  }
}
